<table class='calendar-table table table-striped' *ngIf="calendar">
    <thead>
        <tr>
            <th *ngFor="let day of MonthEnumToArray()">{{day}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of (calendar | chunk: 7); let i = index">
            <td class="calendar-day" [ngClass]="{'past-date': c.isPastDate, 'today': c.isToday}"
                *ngFor="let c of row; let j = index">
                <div class="calendar-day-header" [ngClass]="{'blue-date': c.isToday}">
                    <strong role="button" class="btn" (click)="onCalendarDaySelect(c.date)">{{c.date.getDate()}}</strong>
                    <strong *ngIf="c.isToday || (i == 0 && j == 0) || (c.date.getDate() == 1)">
                        {{MONTH[c.date.getMonth()]}}
                    </strong>
                </div>
            </td>
        </tr>

    </tbody>
</table>

