<div class="card">
  <div class="card-header">
    <button class="btn btn-danger" (click)="Close()">X</button>

  </div>
  <div class="card-body">
    <form [formGroup]="form">
      <fieldset class="">
        <legend class="p-2 border-bottom">Id: {{ formData.Id }}</legend>
        <div class="row">
          <div class="col-6">
            <label for="Title">
              <h5>Title</h5>
              <input
                class="form-control"
                type="text"
                formControlName="Title"
                id="Title"
              />
            </label>
          </div>
          <div class="col-6">
            <label for="Description">
              <h5>Description</h5>
              <input
                class="form-control"
                type="text"
                formControlName="Description"
                id="Description"
              />
            </label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="card-footer d-flex justify-content-end align-items-center">
    <button class="btn btn-success " (click)="Submit()">submit</button>
  </div>
</div>
